{% extends 'layout.html'%}

{% block body%}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}

    <h1>Archivos disponibles</h1>
    {% if archivos %}
        <ul>
        {% for archivo in archivos %}
            <li>
                {{ archivo.nombre }} - 
                <a href="{{ archivo.enlace }}" target="_blank">Ver archivo</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron archivos.</p>
    {% endif %}

        {%endfor%}
    </tbody>
    
{% endblock %}
